.shade::before {
    content: "";
    background-color: black;
    /* Additional background properties can be added here */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   opacity: 0.75;
  }
  
body{
  background-color: black;
}

  body { box-sizing: border-box;
    overflow-x: hidden;
  }


.video-background {
  background: #000;
  position: absolute;
  top: -200px; right: 0; bottom: 0; left: -50px;
  z-index: -99;
  overflow: hidden;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}



/* shimmer animation  */

/* tailwind.css */

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-wrapper {
  position: relative;
  overflow: hidden;
}

.shimmer {
  position: absolute;
  top: 0;
  left: -150%;
  width: 250%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 1.5s infinite;
}


/* width */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #363636; /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle when hovered */
}


.custom button:hover {
  color: #7c7b7b;
  transition: 0.3s;
  
}
